#page {
  width: 200px;
  height: 300px;
  margin: 0 auto;
  background-color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}
#inputNumber {
  width: 85%;
  margin: 0 auto;
  margin-top: 15px;
  text-align: right;
  box-shadow: none;
  border: none;
  height: 50px;
  font-size: 35px;
  color: white;
  background-color: black;
  text-align: right;
}
#ButtonBox {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  box-sizing: border-box;
  gap: 8px;
}
button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(97, 97, 97);
  color: white;
  border: none;
}
button.zero {
  width: 88px;
  border-radius: 20px;
}
button.grey {
  background-color: whitesmoke;
  color: black;
}
button.yellow {
  background-color: orangered;
}
